/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.page-article#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.jumbotron {
  background-image:url('background.jpg');
  text-align:center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  vertical-align:middle;
  padding: 50px;
}

.jumbotron h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}

ul.tags {
  margin:0;
  padding:0;
}

ul.tags li{
  margin:0;
  padding:0;
  display:inline-block;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #000;
}

ul.tags li:last-child{
  border:none;
}

.social {
  padding-top: 10px;
}

.addthis_32x32_style .addthis_counter.addthis_bubble_style {
  border-right: 1px solid #C5C5C5;
}
